
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #445183;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #141519;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.logo img {
    width: 100px;
    height: auto;
    padding-left: 20px;
    padding-right: 50px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.user-info {
    display: flex;
    justify-content: center;
}




p {
    margin-top: 15px;
    color: #555;
}

p a {
    color: #28a745;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(20, 21, 25, 0.92);
    color: #fff;
    text-align: center;
    padding: 7px 0;
    font-size: 14px;
}

.user-info img {
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 10px
}

main {
    display: flex;
    margin-top: 50px;
    
}

aside {
    height: 720px;
    width: 400%;
    background-color: #141519;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    flex: 1;
    display: flex;
    flex-direction: column; /* Acomoda los elementos en columna */
    justify-content: space-between;
    padding: 10px;
}

section {
    border-radius: 10px 10px 10px 10px;
    margin: 10px;
    background-color: #141519;
    flex: 3;
    display: flex;
    justify-content: space-around;
}

.user-box{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}


aside h2 {
    color: #fff
}

.user-box img { 
    width: auto ;
    height: 50px;
    
}

section div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

section button {
    border-radius: 10px 10px 10px 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #39c5b9;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    
}

button:hover {
    background-color: #d5d8d5;
}
